$baseFontSize:18px;
$z-fixed-menu: 100;

$tablets: 768px;
$phones:480px;

@import "media";
@import "layout/base";
@import "layout/normalize";

@import "blocks/top-part";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/preview";
@import "blocks/button";
@import "blocks/info";
@import "blocks/section";
@import "blocks/feature";
@import "blocks/headline";
@import "blocks/comments";
@import "blocks/interactive";
@import "blocks/delivery";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/fixed";
@import "blocks/hamburger";
@import "blocks/footer";
@import "blocks/socials";
@import "blocks/slider";
@import "blocks/options";
@import "blocks/arrows";
@import "blocks/overlay";
@import "blocks/team";
@import "blocks/modal";

