.comments__section {
  height: 100vh;
}

.comments__display {
  background: #F8FAF9;
  padding: rem(42px);
  overflow: hidden;
  position: relative;
  

  &::before {
    content:"";
    display: block;
    width: rem(83px);
    height: rem(83px);
    background:#FFF;
    border-radius:50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-60px);
  }
}

.comments__list {
  position: relative;
  min-height: 280px;
}

.comments__display-inner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0;
  transition: .3s;
  pointer-events: none;


  &--active {
    position: static;
    opacity: 1;
    pointer-events: unset;
  }

  @include tablets {
    flex-direction: column;
    text-align: center;
  }
}

.comments__avatar {
  height: rem(254px);
  width: rem(264px);

  @include tablets {
    height: rem(130px);
    width: rem(130px);
    margin-bottom:rem(32px);
  }
}

.comments__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__content {
  flex: 1;
  margin-left: rem(40px);

  @include tablets {
    margin-left: 0;
  }
}

.comments__title {
  font-size: rem(24px);
  font-weight: 700;
  color: #292929;
  margin-bottom: rem(27px);

  @include tablets {
    text-align: center;
  }
}

.comments__text {
  margin-bottom: rem(38px);
}

.comments__author {
  font-size: rem(18px);
  font-weight: 700;
  color:#292929;
}

.comments__switcher {
  display: flex;
  justify-content: center;

  @include tablets {
    margin-top: rem(47px);
  }
}

.comments__section {
  position: relative;

  &::before {
    content: url("/img/Ellipse\ 7.svg");
    position: absolute;
    bottom: rem(-48px);
    left: 24%;
  }
}