.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.footer__section {
  height: 150px;
  margin-top: 53px;
  border-top: 1px solid  #192f37;
}
.footer__col {
  display: flex;
  align-items: center;
}

.footer__col footer__col--align--right {
  align-items:flex-end;
}