.hamburger {
  width: 26px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
    position: fixed;
    top: 20px;
    right: 10%;
    cursor: pointer;
    transition: all 0.4s;
  }
}

.hamburger__plank {
  display:block;
  background: black;
  height: 4px;
  border-radius: 10px;
}