.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  text-align: center;
  background-image: url(../../img/css_sprites\ .png);
  
}

.socials__link--tg {
  background-position:-122px -10px;
}

.socials__link--tg:hover {
  background-position:-122px -66px;
}


.socials__link--vk {
  background-position:-122px -122px;
}

.socials__link--vk:hover {
  background-position:-122px -178px;
}

.socials__link--fb {
  background-position:-122px -234px;
}
.socials__link--fb:hover {
  background-position:-122px -290px;
}

.socials__link--incst {
  background-position:-122px -346px;
}
.socials__link--incst:hover {
  background-position:-122px -402px;
}