.top-line {
  background: url(../../img/headline\ 1.png) center top no-repeat;
  background-color: #001821;
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}

.top-line__container{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}